.bg-container {
    background-color: #ffffff;
    height: 100vh;
}

.button1 {
    height: 80px;
    width: 80px;
    border-radius: 14px;
    background-color: #e0e0e0;
}

.button2 {
    height: 80px;
    width: 80px;
    border-radius: 14px;
    background-color: #6fcf97;
}

.button3 {
    height: 80px;
    width: 80px;
    border-radius: 14px;
    background-color: #56ccf2;
}

.button4 {
    height: 80px;
    width: 80px;
    border-radius: 14px;
    background-color: #bb6bd9;
}

.heading2 {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    background-color: #222222;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
}

.spanElement {
    color: #49a6e9;
}
