.profile-container{
    background-color: #f5f9fd;
    padding: 10px;
}
h1{
    color: #03449e;
    font-family: "Roboto";
    font-size: 32px;
}
p{
    color: #0967d2;
    font-family: "Bree Serif";
    font-size: 24px;
}
.designation-details-container{
    background-color: #d0efff;
    margin-bottom: 10px;
    padding: 15px;
}
.designation-details{
    color: #47a3f3;
    font-family: "Roboto";
    font-size: 18px;
}
.contact-info-container{
    background-color: #03254c;
    padding: 10px;
}
.contact-info{
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 14px;
    font-style: italic;
}